<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-horizontal">
      <%= f.label :description, class:"col-sm-1" %>
      <%= f.text_field :description, class:"col-md-2" %>

    <br>
    <% if (params.has_key?(:id)) %>
      <div class="checkbox">
          <%= f.check_box :complete, class:"col-sm-3" %>
          <%= f.label :complete, class:"col-lg-3" %>
      </div>
    <% else %>

    <% end %>
    <br>

    <%= f.label :due, class:"col-sm-1" %>
    <%= f.date_field :due, class:"col-md-2" %>

  </div>

  <br></br>
  <br></br>


    <%= f.submit class:"btn btn-primary" %>

<% end %>
