<div class="page-header">

  <h1>Tasks for <%= @project.name %>
    <small class="col-md-offset-5", style="font-size:15px">
      <%= link_to_unless_current("All", project_tasks_path(@project, type: "all")) %> |
      <% if params[:type] == nil %>
        Incomplete
      <% else %>
      <%= link_to_unless_current("Incomplete", project_tasks_path(@project, type: "incomplete")) %>
      <% end %>
    </small>
    <%= link_to 'Create Task', new_project_task_path(@project), class:"btn btn-info btn-large, pull-right" %>
  </h1>
</div>

<ol class="breadcrumb">
  <li><a href="/projects">Projects</a></li>
  <li><%= link_to @project.name, @project %></li>
  <li class="active">Tasks</li>
</ol>


<table class="table">
  <thead>
    <tr>
      <% if params[:type] == "all"  %>
        <th><%= link_to("Description", project_tasks_path(@project, sort: "description", type: "all")) %></th>
      <% else %>
        <th><%= link_to("Description", project_tasks_path(@project, sort: "description", type: "incomplete")) %></th>
      <% end %>

      <% if params[:type] == "all"  %>
        <th><%= link_to("Complete", project_tasks_path(@project, sort: "complete", type: "all")) %></th>
      <% else %>
        <th><%= link_to("Complete", project_tasks_path(@project, sort: "complete", type: "incomplete")) %></th>
      <% end %>

      <% if params[:type] == "all"  %>
        <th><%= link_to("Due Date", project_tasks_path(@project, sort: "due", type: "all")) %></th>
      <% else %>
        <th><%= link_to("Due Date", project_tasks_path(@project, sort: "due", type: "incomplete")) %></th>
      <% end %>

    </tr>
  </thead>


  <tbody>

    <% @tasks.each do |task| %>
    <% require 'date' %>
    <% current_date = Date.today %>
      <%if task.due == nil %>
        <tr>
          <td><%= link_to task.description, project_task_path(@project, task)%> <span class="badge"> <%= task.comments.count %></span></td>
          <td><%= task.complete%></td>
          <td>Blank</td>
          <td>
            <div class="pull-right" >
              <%= link_to 'Edit ', edit_project_task_path(@project, task), class:"btn btn-info btn-large", id:"delete" %>
              <%= link_to " ", project_task_path(@project, task), class:"glyphicon glyphicon-remove", method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
        </td>
        </tr>
      <%elsif (task.due - current_date).to_i < 7 %>
        <tr class="danger">
          <td><%= link_to task.description, project_task_path(@project, task)%> <span class="badge"> <%= task.comments.count %></span></td>
          <td><%= task.complete%></td>
          <td><%= task.due%></td>
          <td>
            <div class="pull-right">
              <%= link_to 'Edit ', edit_project_task_path(@project, task), class:"btn btn-info btn-large" %>
              <%= link_to " ", project_task_path(@project, task), class:"glyphicon glyphicon-remove", method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </td>
        </tr>
      <%else%>
        <tr>
          <td><%= link_to task.description, project_task_path(@project, task)%> <span class="badge"> <%= task.comments.count %></span></td>
          <td><%= task.complete %></td>
          <td><%= task.due %></td>
          <td>
            <div class="pull-right">
              <%= link_to 'Edit ', edit_project_task_path(@project, task), class:"btn btn-info btn-large" %>
              <%= link_to " ", project_task_path(@project, task), class:"glyphicon glyphicon-remove", method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<!-- # <%= link_to 'Download CSV', tasks_path(format: "csv"), class:"btn btn-info btn-large, glyphicon glyphicon-cloud-download" %> -->
<br>
<hr></hr>

<br>
