<%= form_for(@user) do |f| %>

<div class="form-horizontal">

  <div class="form-group">
    <div class="col-sm-12">
      <div class="col-sm-offset-2 col-sm-6">
        <%= render "shared/errors", model: @user %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :first_name, class:"col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :first_name, class:"form-control"%>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :last_name, class:"col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :last_name, class:"form-control" %>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :email, class:"col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.email_field :email, class:"form-control" %>
    </div>
  </div>

  <% if (params.has_key?(:id)) %>
  <% else %>
  <div class="form-group">
    <%= f.label :password, class:"col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.password_field :password, class:"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, class:"col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.password_field :password_confirmation, class:"form-control" %>
    </div>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.label :pivotal_token,"Pivotal Tracker Token",  class:"col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :pivotal_token, class:"form-control" %>
    </div>
  </div>

  <% if current_user.admin == true %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <label><%= f.check_box :admin, class:"form-contol" %> Admin</label>
    </div>
  </div>
  <% end %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class:"btn btn-primary" %>
    </div>
  </div>



  <% if (params.has_key?(:id)) %>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-5">
      <div class="well">
        <%= link_to 'Delete User', @user, class:"btn btn-danger btn-large, col-sm-offset-4", method: :delete, data: { confirm: 'Are you sure?' }%>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>
</br></br>
</br></br>
