<br></br>
  <div class="col-sm-12">
    <div class="col-sm-offset-4 col-sm-4">
      <div class="well">
        <h3>Sign Up for gCamp!</h3>

      <%= form_for(@user, url: signup_path) do |f| %>
        <% if @user.errors.present? %>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <div style="color:red">
                <li><%= message %></li>
              </div>
              <% end %>
          </ul>
        <% end %>
      <br>

      <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class:"form-control"  %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class:"form-control"  %>
      </div>
      <div class="form-group">
        <%= f.label :pivotal_token, "Pivotal Tracker Token" %>
        <%= f.text_field :pivotal_token, class:"form-control"  %>
      </div>
      <br>
      <div class="form-group">
        <%= f.submit "Sign Up", class:"btn btn-primary" %>
      </div>

    </div>
  </div>
  </div>
<% end %>
