<br></br>
  <div class="col-sm-12">
    <div class="col-sm-offset-4 col-sm-4">
      <div class="well">
        <h3>Sign Up for gCamp!</h3>

      <div style="color:red">
      <%= form_for @user, url: signup_path do |f| %>
        <% if @user.errors.present? %>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <br>

      <div>
        <%= f.label :email %>
      </div>
      <div>
        <%= f.email_field :email, class:"form-control, col-sm-12" %>
      </div>

      <div>
        <%= f.label :password %>
      </div>
      <div>
        <%= f.password_field :password, class:"form-control, col-sm-12"  %>
      </div>

      <div>
        <%= f.label :password_confirmation %>
      </div>
      <div>
        <%= f.password_field :password_confirmation, class:"form-control, col-sm-12"  %>
      </div>
      <br></br>

      <div>
        <%= f.submit "Sign up" %>
      </div>
    </div>
  </div>
  </div>

<% end %>
