<div class="page-header">

  <h1>
    <%= @project.name %>
    <div class = 'pull-right'>
    <%= link_to 'Edit', edit_project_path,
                        class:"btn btn-info btn-large" %>
    <%= link_to 'Destroy ', @project, class:"btn btn-danger btn-large",
                                  method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </h1>
</div>

<ol class="breadcrumb">
  <li><a href="/projects">Projects</a></li>
  <li class="active"><%= @project.name %></li>
</ol>

<%= link_to pluralize(@project.tasks.count, "Task"),
            project_tasks_path(@project) %>

<br><br><br><br>
